body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

hr {
  margin-bottom: 25px;
}

.bgimga {
  position: absolute;
  right: 650px;
  bottom: 300px;
}

.bgimgb {
  position: absolute;

  left: 650px;
  top: 300px;
}
.card {
  background-color: white;
  box-shadow: 2px 2px #000000;
  position: absolute;
  top: 25%;
  left: 37%;
  border-radius: 4%;
  padding-bottom: 30px;
}
.images {
  display: block;
}
.bg-pattern {
  left: 0;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}
.dp-img {
  position: absolute;
  border-radius: 50%;
  border-width: 10px;
  border: 5px solid #ffffff;
}

.info {
  margin: auto;
  padding-top: 50px;
}

.name {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
}

.age {
  color: hsl(227, 10%, 46%);
  font-size: 18px;
  display: inline-block;
}

.location {
  color: hsl(227, 10%, 46%);
  font-size: 12px;
  margin-top: 0px;
}

.followers {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin: 0 20px;
}

.fol {
  color: hsl(227, 10%, 46%);
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px;
  display: block;
}

.likes {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin: 0 20px;
}

.lik {
  color: hsl(227, 10%, 46%);
  font-size: 12px;
  font-weight: lighter;
  padding-top: 5px;
  display: block;
}

.photos {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin: 0 20px;
}

.pho {
  color: hsl(227, 10%, 46%);
  font-size: 12px;
  font-weight: lighter;
  padding-top: 5px;
  display: block;
}

.attribution {
  position: absolute;
  bottom: 10px;
  left: 41%;
}
